version: "3.8"

services:
  redis:
    image: redis:8-alpine
    container_name: wlmaz_redis
    command: redis-server /usr/local/etc/redis/redis.conf
    volumes:
      - ./redis.conf:/usr/local/etc/redis/redis.conf:ro
      - redis_data:/data
    
    ports:
      - "127.0.0.1:6379:6379"
    
    restart: always
    
    deploy:
      resources:
        limits:
          memory: 256M

volumes:
  redis_data: