version: "3.8"

services:
  app:
    build: .
    container_name: wlmaz_app
    ports:
      - "3000:3000"
    env_file: .env
    environment:
      - NODE_ENV=production
      - REDIS_URL=redis://wlmaz_app:WlmazProdSec2025@redis:6379
      - COOKIE_SECURE=false
    depends_on:
      - redis
    restart: always

  redis:
    image: redis:7-alpine
    container_name: wlmaz_redis
    command: redis-server /usr/local/etc/redis/redis.conf
    volumes:
      - ./redis.conf:/usr/local/etc/redis/redis.conf:ro
      - redis_data:/data
    restart: always
    deploy:
      resources:
        limits:
          memory: 256M

volumes:
  redis_data: