version: "3.8"

services:
   redis:
      image: redis:alpine
      container_name: wlmaz_redis
      command: redis-server /usr/local/etc/redis/redis.conf
      volumes:
         - ./redis.conf:/usr/local/etc/redis/redis.conf:ro
         - redis_data:/data

      ports:
         - "6379:6379"

      restart: always

volumes:
   redis_data:
