@import "tailwindcss";

html,
body {
   margin: 0;
   padding: 0;
   height: 100vh;
   overflow: hidden;
}

#app {
   height: 100vh;
   display: flex;
   flex-direction: column;
}

#main {
   flex: 1;
   width: 100%;
}

/* src/styles.css */

/* Custom Marker Container */
.marker-pin {
   width: 30px;
   height: 30px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 2px solid white;
   box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
   transition: transform 0.2s ease;
}

/* Hover effect for markers */
.marker-pin:hover {
   transform: scale(1.2);
   z-index: 1000 !important;
   /* Bring to front */
   cursor: pointer;
}

/* Colors corresponding to your Green/Blue logic */
.marker-has-image {
   background-color: #10b981;
   /* Tailwind emerald-500 */
}

.marker-needs-image {
   background-color: #fd0000;
   /* Your custom blue */
}