@import "tailwindcss";

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

#app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#main {
    flex: 1;
    width: 100%;
}