name: TODO to Issue

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  todo:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: TODO to Issue
        uses: alstr/todo-to-issue-action@v5.1.13
